{{ define "main" }}

    {{ partial "preloader.html" . }}

    {{ partial "hero-area.html" . }}

    {{ partial "navigation.html" . }}

    {{ partial "about.html" . }}

    {{ partial "skill.html" . }}

    {{ partial "about2.html" . }}

    {{ partial "cta.html" . }}

    {{ partial "service.html" . }}

    {{ partial "usecases.html" . }}

    {{ partial "portfolio.html" . }}

    {{ partial "counter.html" . }}

    {{ partial "team.html" . }}

    {{ partial "pricing.html" . }}

    {{ partial "testimonial.html" . }}

    {{ partial "blog.html" . }}

    {{ partial "contact.html" . }}

{{ end }}
